{
  "presets": [
    [
      "es2015",
      {
        "loose": true
      }
    ],
    "minify",
    "stage-1"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ]
  ],
  "sourceMaps": true
}